@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400&display=swap");

* {
  font-family: "Exo 2", sans-serif;
}

body {
  padding: 15px;
}

#top-bar {
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 10px;
  background: #fff;
}

#content {
  margin-top: 42px;
}

label {
  cursor: default;
}

dt {
  color: #4f4f4f;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  margin-right: 29px;
  margin-left: 4px;
}

li.last {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

li a {
  font-size: 22px;
  font-weight: bold;
  vertical-align: middle;
  color: #5080d8;
}

.header-section {
  font-size: 15px;
  margin: -1px;
  width: 100%;
  height: 30px;
  position: relative;
  margin-bottom: 10px;
}

.header-section span {
  padding: 15px 0px 15px 0px;
}

#genBtn {
  width: 100%;
  font-size: 12px;
  font-weight: bold;
}

.icon {
  text-align: center;
}

.icon .material-icons {
  font-size: 48px;
}

.copy-btn {
  width: 10px;
}

::-webkit-scrollbar-track-piece {
  background-color: #fff;
  -webkit-border-radius: 0;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #9f9f9f;
  -webkit-border-radius: 4px;
  outline: 2px solid #fff;
  outline-offset: -2px;
  border: 2px solid #fff;
}

.container {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.dataBox {
  width: 100%;
}

body {
  width: 310px;
}

.custom-md {
  padding-left: 2px !important;
  padding-right: 2px !important;
}

.msg-warning {
  position: fixed !important;
  top: 20px;
  text-align: center;
  white-space: nowrap;
  font-size: 0.9em;
  padding: 1px 6px;
  margin: 0 auto;
  display: none;
  opacity: 0.9;
  z-index: 999 !important;
}

.user-image {
  margin-top: 20px;
}

.user-image figure {
  display: flex;
  justify-content: center;
}

figure img {
  border-radius: 100px;
  height: 120px;
  width: 120px;
}
